<!doctype html>
<html lang="{{ settings.language }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} - {{ site_title }}</title>
        <link rel="stylesheet" href="{{themepath}}/css/style.css">
        <!-- FAV Icon -->
        <link rel="icon" type="image/png" href="lib/img/favicon.png" />
    </head>
    <body class="bg-neutral-800">
        <header>
            {% include "components/nav.twig" %}
        </header>
        <main class="w-full bg-neutral-800 text-neutral-400">
            <!-- Head Part-->
            <div class="px-10 mx-auto max-w-7xl">
                <h2 class="py-10 text-xl">{{ album.title }}</h2>
                <img class="shadow-lg rounded-sm mx-auto w-full" src="{{ album.cover }}" alt="Cover image for {{ album.title }}">
                <div class="py-5">
                    <div class="text-sm">
                        {{ album.description|raw }}
                    </div>
                </div>
            </div>

            <!-- Picture Part-->
            <div class="px-10 pb-10 mx-auto max-w-7xl">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                    {% for image in album.images %}
                    <!-- Picture -->
                    <div class="relative w-full aspect-16/9">
                        <a href="{{ image.url }}">
                            <!-- Bild -->
                            <img class="shadow-lg rounded-sm object-cover w-full h-full" src="{{ image.file }}" alt="{{ image.title }}">

                            <!-- Text unten links -->
                            <!--<span class="absolute bottom-0 left-0 text-white py-2 px-3 text-3xl rounded-tr-md z-10">
                            Title
                            </span>-->
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </main>
        <script type="text/javascript" src="{{themepath}}/js/nav.js"></script>
    </body>
</html>