<!doctype html>
<html lang="{{ settings.language }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} - {{ site_title }}</title>
        <link rel="stylesheet" href="{{themepath}}/css/style.css">
        <!-- FAV Icon -->
        <link rel="icon" type="image/png" href="lib/img/favicon.png" />
    </head>
    <body class="bg-neutral-800">
        <header>
            {% include "components/nav.twig" %}
        </header>
        <main class="w-full bg-neutral-800 text-neutral-400">
            <!-- Picture Part-->
            <div class="p-10 mx-auto max-w-7xl">
                {% if page.cover %}
                <img class="shadow-lg rounded-sm mx-auto" src="{{ page.cover }}" alt="{{ page.title }}">
                {% endif %}
                <div class="py-10">
                    <h2 class="text-xl">{{ page.title }}</h2>
                    <div class="prose prose-invert max-w-none">
                        {{ page.content|raw }}
                    </div>
                </div>
            </div>
        </main>
        <script type="text/javascript" src="{{themepath}}/js/nav.js"></script>
    </body>
</html>