<!doctype html>
<html lang="{{ settings.language }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} - {{ site_title }}</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <!-- FAV Icon -->
        <link rel="icon" type="image/png" href="lib/img/favicon.png" />
    </head>
    <body class="bg-neutral-800">
        <header>
            {% include "components/nav.twig" %}
        </header>
        <main class="w-full bg-neutral-800 text-neutral-400">
            <!-- Picture Part-->
            <div class="px-10 pt-10 mx-auto max-w-7xl">
                <h2 class="text-xl">My Timeline</h2>
                <div class="grid grid-cols-1 md:grid-cols-4 gap-6 py-10">
                    {% for image in timeline %}
                    <!-- Picture -->
                    <div class="relative w-full aspect-square">
                        <a href="{{ image.url }}">
                            <!-- Bild -->
                            <img class="shadow-lg rounded-sm object-cover w-full h-full" src="{{ image.thumb.l }}">

                            <!-- Graues Overlay -->
                            <div class="absolute inset-0 bg-gray-900/20 rounded-sm"></div>

                            <!-- Text unten links -->
                            <span class="absolute bottom-0 left-0 text-white py-2 px-3 text-lg rounded-tr-md z-10">
                            {{ image.title }}
                            <div class="text-sm">{{ image.date }}</div>
                            </span>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="grid grid-cols-1 py-10">
                    <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
                        <div class="-mt-px flex w-0 flex-1">
                            {% if pagination.has_prev %}
                            <a href="?page={{ pagination.current - 1 }}" class="inline-flex items-center border-t-2 border-transparent pt-4 pr-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                            <svg class="mr-3 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                <path fill-rule="evenodd" d="M18 10a.75.75 0 0 1-.75.75H4.66l2.1 1.95a.75.75 0 1 1-1.02 1.1l-3.5-3.25a.75.75 0 0 1 0-1.1l3.5-3.25a.75.75 0 1 1 1.02 1.1l-2.1 1.95h12.59A.75.75 0 0 1 18 10Z" clip-rule="evenodd" />
                            </svg>
                            Previous
                            </a>
                            {% endif %}
                        </div>
                        <div class="hidden md:-mt-px md:flex">
                            <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500">Page {{ pagination.current }} from {{ pagination.total }}</span>
                        </div>
                        <div class="-mt-px flex w-0 flex-1 justify-end">
                            {% if pagination.has_next %}
                            <a href="?page={{ pagination.current + 1 }}" class="inline-flex items-center border-t-2 border-transparent pt-4 pl-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                            Next
                            <svg class="ml-3 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                <path fill-rule="evenodd" d="M2 10a.75.75 0 0 1 .75-.75h12.59l-2.1-1.95a.75.75 0 1 1 1.02-1.1l3.5 3.25a.75.75 0 0 1 0 1.1l-3.5 3.25a.75.75 0 1 1-1.02-1.1l2.1-1.95H2.75A.75.75 0 0 1 2 10Z" clip-rule="evenodd" />
                            </svg>
                            </a>
                            {% endif %}
                        </div>
                    </nav>

                </div>
            </div>
        </main>
        <script type="text/javascript" src="{{themepath}}/js/nav.js"></script>
    </body>
</html>